/* Home page sliding down */
@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100vh); /* Slides down completely */
  }
}

/* Game page coming in from top */
@keyframes slide-down-in {
  from {
    transform: translateY(-100vh); /* Start above the screen */
  }
  to {
    transform: translateY(0); /* Moves to its normal position */
  }
}

/* Game page sliding up and out */
@keyframes slide-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh); /* Moves up and out of view */
  }
}

/* Home page sliding up */
@keyframes slide-up-in {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

.slide-down {
  animation: slide-down 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slide-down-in {
  animation: slide-down-in 1s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slide-up {
  animation: slide-up 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.slide-up-in {
  animation: slide-up-in 0.5s forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
