.main-title {
  font-size: 4vw;
  color: #f24c3d;
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 3vh;
  text-shadow: 4px 2px 0 #000, 4px 4px 0 #000000;
  font-family: "Press Start 2P", cursive;
  z-index: 1;
}

.game-selection {
  display: flex;
  justify-content: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2vh;
  border: 5px solid #22a699;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
  width: 20vw;
  background-color: rgb(6, 4, 27);
  transition: transform 0.3s, box-shadow 0.3s;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.game-image {
  width: 100%;
  height: auto;
  margin-bottom: 1vh;
}

.game-title {
  font-size: 1.8vw;
  margin-bottom: 1vh;
  color: #f29727;
  text-shadow: 2px 2px 0 #000, 4px 4px 0 #000000;
}

.game-description {
  font-size: 1.2vw;
  text-align: center;
  margin: 1vh;
  text-shadow: 2px 2px 0 #000, 4px 2px 0 #000000;
}

@media only screen and (min-width: 600px) {
  .main-title {
    font-size: 3vw;
  }

  .game-card {
    width: 25vw;
  }

  .game-title {
    font-size: 1.5vw;
  }

  .game-description {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .main-title {
    font-size: 3.5vw;
  }

  .game-card {
    width: 22vw;
  }

  .game-title {
    font-size: 1.6vw;
  }

  .game-description {
    font-size: 1.1vw;
  }
}

@media only screen and (max-width: 600px) {
  .main-title {
    font-size: 5vw;
  }

  .game-card {
    width: 90%;
  }

  .game-title {
    font-size: 2vw;
  }

  .game-description {
    font-size: 1.5vw;
  }
}
